{% extends "base.html.twig" %}
{% block stylesheet %}
{% endblock %}
 {% block container %}

     <section>
         <div class="container">
             <div class="section-content">
                 <div class="row">
                     <div class="container">
                         <h2 class="text-theme-color-sky line-bottom">Vous cherchez <span class="text-theme-color-red">un babysitting</span>
                             pour votre enfant ? <br> <span class="text-theme-color-red">All For Kids </span>vous aide à
                             touver le meilleur babysitter pour votre enfant !</h2>
                         <h4 class="text-theme-color-blue">Trouver et proposer un babysitting pour les enfants est
                             désormais un jeu d'enfants! !</h4>
                         <p>En effet, All For Kids est l'unnique plateforme en Tunisie destinée aux parents qui veulent
                             proposer des babysittings pour des enfants et qui cherchent à leur tour des babysittings
                             pour leurs enfants.</p>
                         {% if is_granted('ROLE_PARENT')  %}
                         <a href="{{ path('ajouter_babysitting') }}" class="btn btn-flat btn-colored btn-theme-color-blue mt-15 mr-15">Proposer un
                             babysitting</a><a href="{{ path('chercher_babysitting') }}" class="btn btn-flat btn-colored btn-theme-color-yellow mt-15">Chercher
                             un babysitting</a>

                           {% else %}
                                 <a href="#" class="btn btn-flat btn-colored btn-theme-color-blue mt-15 mr-15">Proposer un
                                     babysitting</a><a href="#" class="btn btn-flat btn-colored btn-theme-color-yellow mt-15">Chercher
                                 un babysitting</a>
                         {% endif %}
                     </div>

                 </div>
             </div>
         </div>

     </section>
     <section>

         <div class="container">
             <div class="row">
                 {% for b in bab %}
                     <div class="col-sm-6 col-md-4">
                         <div class="item">
                             <div class="campaign bg-white maxwidth500 mb-30">
                                 <div class="thumb">
                                     <img src="{{ asset('images/mariem/b1.png') }}" alt="" class="img-fullwidth">
                                     <div class="campaign-overlay"></div>
                                 </div>
                                 <div class="course-details clearfix p-20 pt-15">
                                     <h4 class="price-tag">Nouveau</h4>

                                     <h3 class="mt-0"><a class="text-theme-color-red" href="#">{{ b.titre }}</a></h3>
                                     <p>{{ b.description }}... <a
                                                 class="text-theme-colored ml-5" href="#{#{{ path('reserver_babysitting',{"id":b.id}) }}#}"> →</a></p>
                                     <div class="course-details-bottom mt-15">
                                         <ul class="list-inline">
                                             <li>Nombre d'enfants<span>{{ b.nbrEnfants }}</span></li>
                                             <li>Horaires<span>{{ b.heureDeb|date('h:i') }} - {{b.heureFin |date('h:i') }}</span></li>
                                             <li>Adresse<span>{{ b.adresse }}</span></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 {% endfor %}
             </div>
         </div>
     </section>
 {% endblock %}
