{% extends 'backBase.html.twig' %}

{% block body %}

    <h1>Coupons list</h1>
<div class="panel panel-default card-view">
    <table class="jsgrid-table">
    <tbody>
    <tr class="jsgrid-header-row">
        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 50px;">Id</th>
        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Intitule</th>
        <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Imagecoupon</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Ensegne</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Description</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Datedebut</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Datefin</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Valeur</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Codepromo</th>
        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Actions</th>
        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">

        </th>

    </tr>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td><a href="{{ path('coupons_show', { 'id': coupon.id }) }}">{{ coupon.id }}</a></td>
                <td>{{ coupon.intitule }}</td>
                <td><img style="width:60px " align="center" src="{{ asset('uploads/brochures/'~coupon.imageCoupon) }}"</td>
                <td>{{ coupon.ensegne }}</td>
                <td>{{ coupon.description }}</td>
                <td>{% if coupon.dateDebut %}{{ coupon.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if coupon.dateFin %}{{ coupon.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ coupon.valeur }}</td>
                <td>{{ coupon.codePromo }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('coupons_show', { 'id': coupon.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('coupons_edit', { 'id': coupon.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





</div>

    <ul>
        <li>
            <a class="label label-info capitalize-font inline-block ml-10" href="{{ path('coupons_new') }}"> New Coupon</a>
        </li>
    </ul>
{% endblock %}
