{% extends 'backBase.html.twig' %}

{% block body %}
    <h1>Promotions list</h1>
<div class="panel panel-default card-view">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Image</th>
                <th>Ensegne</th>
                <th>Type</th>
                <th>Nomprod</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td><a href="{{ path('promotions_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>
                <td>{{ promotion.intitule }}</td>
                <td><a href="{{ path('promotions_show', { 'id': promotion.id }) }}"><img style="width:60px" src="{{ asset('uploads/brochures/'~promotion.image) }}"></a></td>
                <td>{{ promotion.ensegne }}</td>
                <td>{{ promotion.type }}</td>
                <td>{{ promotion.nomprod }}</td>
                <td>{{ promotion.description }}</td>
                <td>{% if promotion.datedebut %}{{ promotion.datedebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if promotion.datefin %}{{ promotion.datefin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('promotions_show', { 'id': promotion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('promotions_edit', { 'id': promotion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="label label-info capitalize-font inline-block ml-10" href="{{ path('promotions_new') }}">Create a new promotion</a>
        </li>
    </ul>
</div>
{% endblock %}
