{% extends "base.html.twig" %}
 {% block container %}

     <!-- Datetimepicker Basic Example Script -->
     <script type="text/javascript">
         $(function () {
             $('#datetimepicker1').datetimepicker();
         });
     </script>

     <section>
         <div class="container">
             <div class="section-content">
                 <div class="row">
                     <div class="container">
                         <h2 class="text-theme-color-sky line-bottom"><span class="text-theme-color-red">Formulaire d'ajout de covoiturage</span>
                         </h2>
                         <h4 class="text-theme-color-blue">Vous êtes sur le point de proposer un covoiturage</h4>
                         <p>En remplissant le formulaire ci-dessous, vous vous engagez à offrir un covoiturage à tout
                             enfant dont le parent a effectué une reservation .</p>
                         <p>Veuillez remplir tous les champs .</p>
                     </div>

                 </div>
             </div>
         </div>

         <div class="row upcomming__wrap mt--40">
             <!-- Start Single Upcomming Event -->
             <div class="col-lg-6 col-md-12 col-sm-12">
                 <div class="upcomming__event">
                     <div class="upcomming__thumb">
                         <img src="{{ asset('images/upcomming/4.png') }}" alt="upcomming images">
                     </div>
                     <div class="upcomming__inner">

                         <div class="form-group">

                             {{ form_start(form, {'method': 'post', 'action': path('ajouter_cov'), 'attr': {'class': 'ajouter_cov'}}) }}
                             <form class="form-horizontal">
       {#                          {{ form_start(form) }}#}
                                 <div class="row form-group">
                                     <div class="col col-md-4"><label for="text-input"
                                                                      class=" form-control-label">Date</label></div>
                                     <div class="form-group">
                                         <div class='input-group date'
                                              id='datetimepicker1'>{{ form_widget(form.date,{attr: {class: 'form-control'} }) }}
                                             <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row form-group">
                                     <div class="col col-md-4"><label for="text-input"
                                                                      class=" form-control-label">Heure de départ</label></div>
                                     <div class="form-group">
                                         <div class='input-group date'
                                              id='timepicker'>{{ form_widget(form.heureDep,{attr: {class: 'form-control'} }) }}
                                             <span class="input-group-addon">
                  <span class="fa fa-clock-o"></span>
                </span>
                                         </div>
                                     </div>
                                 </div>


                                 <div class="row form-group">
                                     <div class="col col-md-4"><label for="text-input" class=" form-control-label">Lieu de départ</label>
                                     </div>
                                     <div class="col-12 col-md-8">{{ form_widget(form.lieuDep,{attr: {class: 'form-control'} }) }}</div>
                                 </div>
                                 <div class="row form-group">
                                     <div class="col col-md-4"><label for="text-input" class=" form-control-label">Lieu
                                             de
                                             destination</label></div>
                                     <div class="col-12 col-md-8">{{ form_widget(form.lieuDest,{attr: {class: 'form-control'} }) }}</div>
                                 </div>
                                 <div class="row form-group">
                                     <div class="col col-md-4"><label for="text-input" class=" form-control-label">Nombre
                                             de
                                             places</label></div>
                                     <div class="col-12 col-md-9">{{ form_widget(form.nbPlaces,{attr: {class: 'form-control'} }) }}</div>
                                 </div>
                                 <div class="row form-group">
                                     <div class="col col-xs-4"><label for="text-area" class=" form-control-label">Description</label>
                                     </div>
                                     <div class="col-12 col-md-8">{{ form_widget(form.description,{attr: {class: 'form-control'} }) }}</div>
                                 </div>


                                    {# {{ form_widget(form.Ajouter,{attr: {class: 'dcare__btn'}}) }}#}
                                     <input type="submit"   class="dcare__btn" value="Ajouter" />
                                        {{ form_end(form) }}

                             </form>

                         </div>

                     </div>
                 </div>


             </div>
         </div>

     </section>
 {% endblock %}


