
{% extends 'GarderieBundle::GarderieBase.html.twig' %}
{% block container %}
    <script src="{{ asset('jquery-3.2.1.js') }}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area">
        <div class="ht__bradcaump__container">
            <img src="{{ asset('images/bg-png/6.png') }}" alt="bradcaump images">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Nos Garderies</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index-2.html">Home</a>
                                <span class="brd-separetor"><img src="{{ asset('images/icons/brad.png') }}" alt="separator images"></span>
                                <span class="breadcrumb-item active">Nos Garderies</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <section class="page__contact bg--white pb--150 pt--180">
        <div class="container">
            <div class="row">
                <!-- Start Single Address -->
                <div class="col-md-6 col-sm-6 col-12 col-lg-4">
                    <div class="address location">
                        <div class="ct__icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="address__inner">
                            <h2>Our Location</h2>
                            <p></p>
                            <ul>
                                <li>{{ garderie.adresse }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Address -->
                <!-- Start Single Address -->
                <div class="col-md-6 col-sm-6 col-12 col-lg-4 xs-mt-60">
                    <div class="address phone">
                        <div class="ct__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="address__inner">
                            <h2>Phone Number</h2>
                            <p></p>
                            <ul>

                                <li><a href="tell:+08097-654321">{{ garderie.telephone }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Address -->
                <!-- Start Single Address -->
                <div class="col-md-6 col-sm-6 col-12 col-lg-4 md-mt-60 sm-mt-60">
                    <div class="address email">
                        <div class="ct__icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="address__inner">
                            <h2>E-mail Address</h2>

                            <ul>
                                <li><a href="mailto:+08097-654321">{{ garderie.email }}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Address -->
            </div>
        </div>
    </section>

    <!-- Start Contact Form -->
    <section class="contact__box section-padding--lg bg-image--27">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">Inscription</h2>
                    </div>
                </div>
            </div>

        <form method="Post" >

                <div class="single-contact-form name">

                    <label>entrez votre nom</label>
                    <input id="idparent" type="text" name="idparent" value="{{ app.user.username }} " class="form-control">

                </div>
            <div class="single-contact-form name">
                   <label>entrez le nom de votre enfant </label>
                    <select name="idenfant1" id="idenfant1" class="form-control">
                        {% for m in enfant1 %}
                            hhhhh
                            <option value="{{ m.pseudonyme}}">{{ m.pseudonyme }}</option>
                        {%  endfor %}</select>
            </div>
            <div class="single-contact-form name">
                    <label>choissisez la date du votre arrivée</label>

                        <div id="date" class="input-append date">
                            <input type="text"  name="jourArriv" id="jourArriv">
                            <span class="add-on">
                    <i date-time-icon="icon-time" date-date-icon="icon-calendar"></i>
                </span>
                        </div>
            </div>
            <div class="single-contact-form name">
                <label>Nurserie</label>
                <select name="nurserie" id="nurserie" class="form-control">

                    <option value="oui">oui</option>
                    <option value="non">non</option>

                </select><br></div>
            <div class="single-contact-form name">
                <label>Repas</label>
                <select name="repas" id="repas" class="form-control">
                    <option value="oui">oui</option>
                    <option value="non">non</option>

                </select>
            </div>
            <div class="single-contact-form name">
                <label>Adresse</label>
                <input type="text" id="adresse" name="adresse" class="form-control">
            </div>

            <div class="single-contact-form name">

                    <textarea id="commentaires" name="commentaires"  placeholder="Type your message here.."></textarea>

            </div>


            <input type="submit" value="submit" class="dcare__btn">

        </form>



        </div>

        <script type="text/javascript">
            $('#date').datetimepicker({
                format: 'yyyy-MM-dd hh:mm:ss',
                language: 'en'
            });
        </script>
    </section>
    <!-- End Contact Form -->
{% endblock %}
{% block script %}


{% endblock %}