{% extends 'backBase.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h6 class="panel-title txt-dark">Modifier votre publicite</h6>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputuname_1">Nom de la Publicite</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-blackboard"></i></div>
                                            {{ form_widget(edit_form.intitule, { 'attr': {'class': '', 'id':'exampleInputuname_1'}} ) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_1">Nom Du magasin</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-pencil"></i></div>
                                            {{ form_widget(edit_form.nomEnsegne, { 'attr': {'class': '', 'id':'exampleInputuname_1'}} ) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputpwd_1">Image de la publicite</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-picture"></i></div>
                                            {{ form_widget(edit_form.imagePub, { 'attr': {'class': '' , 'id':''}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Edit" class="btn btn-success  mr-10" id="succ" />
                                {{ form_end(edit_form) }}

                                {{ form_start(delete_form) }}
                              <br>  <input type="submit" value="Delete" class="btn btn-success  mr-10"  >
                                {{ form_end(delete_form) }}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="label label-info capitalize-font inline-block ml-10" href="{{ path('publicite_index') }}">Back to the list</a>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">




                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>







{% endblock %}
