
{% extends "base.html.twig" %}
 {% block container %}
     <!-- Main wrapper -->

     <!-- End Bradcaump area -->
     <section class="junior__service bg-image--1">
         <div class="container">
             <h2 class="text-theme-color-sky line-bottom"><span class="text-theme-color-red">Détails babysitting</span>
             </h2>
         </div>
     </section>

     <!-- Start Class Babysitting -->
     <div class="section-content">
         <div class="row">
             <div class="container">

                 <section class="page-event-details">
                     <div class="container">
                         <div class="row">
                             <div class="col-lg-9">
                                 <div class="event-content-wrapper">
                                     {% for b in bab %}
                                     <div class="event-section">
                                         <div class="enent__thumb">
                                             <img src="{{ asset('images/event/big-img/1.jpg') }}" alt="big images">
                                             <div class="box-timer">
                                                 <div class="countbox timer-grid">
                                                     <div  data-countdown="2018/06/30"></div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="event-section">

                                         <div class="event-section">

                                             <div class="event__location">

                                                     <ul>
                                                         <li><span class="ti-user"></span>{{ b.babysitteur }}</li>
                                                         <li><span class="ti-location-pin"></span>{{ b.adresse }}</li>
                                                         <li><span class="ti-time"></span>{{ b.heureDeb |date('h:i')}} - {{ b.heureFin |date('h:i')}}</li>
                                                         <li><span class="ti-calendar"></span>{{ b.heureDeb |date('d/m/y')}} </li>
                                                         <li><span class="ti-mobile"></span>Phone : +660 256 24857 </li>
                                                         <li><span class="ti-email"></span>Email : username@email.com,</li>
                                                         <li><span class="ti-dribbble"></span>http:// tutoring education theme.com</li>
                                                     </ul>
                                                 <select id="mode" hidden>
                                                     <option value="DRIVING" selected="selected">Driving</option>
                                                     <option value="WALKING">Walking</option>
                                                     <option value="BICYCLING">Bicycling</option>
                                                     <option value="TRANSIT">Transit</option>
                                                 </select>
                                                     <div class="event_map_marker">
                                                         <div id="evnetmap"></div>
                                                     </div>

                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <div class=" mt-5">
                                             <a class="btn btn-flat btn-dark btn-theme-color-green " href="{{ path('modifier_babysitting', {"id":b.id}) }}">Modifier</a>
                                             <a class="btn btn-flat btn-dark btn-theme-color-red " color="white" href="#">Supprimer</a></div>
                                     </div> {% endfor %}
                                 </div></div></div></div>
                 </section>
             </div>
         </div>
     </div>
                 <!-- End Class Babysitting -->



                 <!-- JS Files -->


                 <!-- Google Map js -->
                 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>
                 <script>
                     // When the window has finished loading create our google map below
                     google.maps.event.addDomListener(window, 'load', init);

                     function init() {
                         var directionsDisplay = new google.maps.DirectionsRenderer;
                         var directionsService = new google.maps.DirectionsService;
                         // Basic options for a simple Google Map
                         // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                         var mapOptions = {
                             // How zoomed in you want the map to start at (always required)
                             zoom: 12,

                            // scrollwheel: false,

                             // The latitude and longitude to center the map (always required)
                             center: new google.maps.LatLng(36.8762, 10.1143), // New York

                             // How you would like to style the map.
                             // This is where you would paste any style found on Snazzy Maps.
                             styles:
                                 [

                                     {
                                         "featureType": "administrative",
                                         "stylers": [
                                             {
                                                 "visibility": "off"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "poi",
                                         "stylers": [
                                             {
                                                 "visibility": "simplified"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "road",
                                         "elementType": "labels",
                                         "stylers": [
                                             {
                                                 "visibility": "simplified"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "water",
                                         "stylers": [
                                             {
                                                 "visibility": "simplified"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "transit",
                                         "stylers": [
                                             {
                                                 "visibility": "simplified"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "landscape",
                                         "stylers": [
                                             {
                                                 "visibility": "simplified"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "road.highway",
                                         "stylers": [
                                             {
                                                 "visibility": "off"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "road.local",
                                         "stylers": [
                                             {
                                                 "visibility": "on"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "road.highway",
                                         "elementType": "geometry",
                                         "stylers": [
                                             {
                                                 "visibility": "on"
                                             }
                                         ]
                                     },
                                     {
                                         "featureType": "water",
                                         "stylers": [
                                             {
                                                 "color": "#84afa3"
                                             },
                                             {
                                                 "lightness": 52
                                             }
                                         ]
                                     },
                                     {
                                         "stylers": [
                                             {
                                                 "saturation": -17
                                             },
                                             {
                                                 "gamma": 0.36
                                             }
                                         ]
                                     },
                                     /*{
                                         "featureType": "transit.line",
                                         "elementType": "geometry",
                                         "stylers": [
                                             {
                                                 "color": "#3f518c"
                                             }
                                         ]
                                     }*/
                                 ]
                         };
                         directionsDisplay.setMap(evnetmap);
                         calculateAndDisplayRoute(directionsService, directionsDisplay);
                         document.getElementById('mode').addEventListener('change', function() {
                             calculateAndDisplayRoute(directionsService, directionsDisplay);
                         });
                         // Get the HTML DOM element that will contain your map
                         // We are using a div with id="map" seen below in the <body>
                         var mapElement = document.getElementById('evnetmap');

                         // Create the Google Map using our element and options defined above
                         var map = new google.maps.Map(mapElement, mapOptions);

                         // Let's also add a marker while we're at it
                      /*   var marker = new google.maps.Marker({
                             position: new google.maps.LatLng(23.7286, 90.3854),
                             map: evnetmap,
                             title: 'Dcare!',
                             icon: 'images/icons/map-2.png',
                             animation:google.maps.Animation.BOUNCE

                         });*/
                     }
                     function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                         var selectedMode = document.getElementById('mode').value;
                         directionsService.route({
                             origin: {lat: 37.77, lng: -122.447},  // Haight.
                             destination: {lat: 37.768, lng: -122.511},  // Ocean Beach.
                             // Note that Javascript allows us to access the constant
                             // using square brackets and a string value as its
                             // "property."
                             travelMode: google.maps.TravelMode[selectedMode]
                         }, function(response, status) {
                             if (status == 'OK') {
                                 directionsDisplay.setDirections(response);
                             } else {
                                 window.alert('Directions request failed due to ' + status);
                             }
                         });
                     }
                 </script>



 {% endblock %}